@model Hemnet41.Models.Objekt

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="~/css/IndexFinal.css" />
    <script>
        
        // Initialize and add the map
        function initMap() {
            console.log(uluru)
            // The location of Uluru
            const uluru = {lat:@($"{Model.Coordinate.Latitude}"), lng:@($"{Model.Coordinate.Longitude}")};
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 15,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
            console.log("HEJ" + uluru)

        }
    </script>
    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>


</head>

<h1>Details</h1>

<div>
    <h4>Objekt</h4>
    <hr />
    <div class="img-container">
        <img class="col-sm-10"
             src="@Html.DisplayFor(model => model.Images)" />
    </div>
    <dl class="row">
        <dt class="col-sm-2">
            Address:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class="col-sm-2">
            Utgångspris:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price) SEK
        </dd>
        <dt class="col-sm-2">
            Bostadstyp:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HousingType)
        </dd>
        <dt class="col-sm-2">
            Upplåtelseform:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormOfLease)
        </dd>
        <dt class="col-sm-2">
            Antal rum:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rooms) Rum
        </dd>
        <dt class="col-sm-2">
            Boarea:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LivingArea) m²
        </dd>
        <dt class="col-sm-2">
            Biarea:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BiArea) m²
        </dd>
        <dt class="col-sm-2">
            Tomtarea:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlotArea) m²
        </dd>
        <dt class="col-sm-2">
            Byggår:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BuildYear)
        </dd>
        <dt class="col-sm-2">
            Beskrivning:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt class="col-sm-2">
            Visnings datum:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShowingDate)
        </dd>
        <dt class="col-sm-2">
            Mäklare:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brooker.FirstName)
            <br />
            @Html.DisplayFor(model => model.Brooker.Email)
            @Html.DisplayFor(model => model.)

        </dd>
    </dl>
</div>
<div id="map"></div>
<div>
    <div>
        <a asp-controller="Customers" asp-action="Create">Intresseanmälan</a>
    </div>
</div>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-i6OyTv8dONZ3tJZf0UeGcsEWd9nP2NU&callback=initMap&libraries=&v=weekly"
        async></script>
<div>

    <a asp-action="IndexFinal">Back to List</a>
</div>
